
<ul id="ul"  style="background-color: #e3f2fd;">
  <li>
    <a class="li" routerLink="" >Home</a>
    <br>
  </li>
  <li>
    <a class="li" routerLink="about">About</a>
    <br>
  </li>

  <li>
    <a class="li" routerLink="user">User</a>
  </li>
  <li>
    <a class="li" routerLink="login">Login</a>
  </li>
  <div>

    <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</ul>
    
  

<router-outlet></router-outlet>